body {
  color: #333333;

  background: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  background-attachment: fixed;

  height: 100%;
}

#body-section {
  height: 100%;
}
.centered {
  padding-top: 100px;
  text-align: center;
  background-color: #a2de96;
}

#main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  background: #212529;
  color: white;
  padding: 5px;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.footer li {
  display: inline;
  margin: 20px 15px 0px;
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

#users .card-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
