
<h1>Transaction Failed!! </h1>
<section class="py-3">
<div class="container">
  <div class="row">
     <div class="col-md-9">

<div class="jumbo jumbotron">
  <h1>Please check the amount you have entered it may be insufficient! </h1>
  <hr>
    <a class="btn btn-dark btn-lg" href="/viewUsers" role="button">Try another Transaction</a>
    <a class="btn btn-dark btn-lg" href="/" role="button">Cancel Transaction</a>

</div>
      </div>
    </div>
</div>
</section>
