<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-6 align-self-center">
                <h1 class="lead text-lg-center">Manage your Credits</h1>
                <p class="lead text-lg-center">You can tranfer you credits as per your will.
                    <br>
                    <a href="/viewUsers" class="btn btn-outline-dark btn-lg ml-auto">View Users</a>
                    <a href="/transactionHistory" class="btn btn-outline-dark btn-lg ml-auto">Transaction History</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="/img/dollar.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>