
<section class="py-3">
<div class="container">
  <div class="row">
    <div class="col-md-9">

<div class="jumbo jumbotron">
  <h1>Successful Transaction!</h1>
  <hr>
  <a class="btn btn-dark btn-lg" href="/viewUsers" role="button">Another Transaction</a>
  <a class="btn btn-dark btn-lg" href="/transactionHistory" role="button">View Transaction History</a>

</div>

  </div>
</div>
</div>

